.sparkles {
  animation: arrive 4s forwards, pulse 1s 3.5s infinite;
}

.sparkles {
  color: white;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7); /* Glow effect */
}

@keyframes arrive {
  from {
    transform: translateY(-50vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); /* subtle scale */
  }
}
